<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>COVID-19 cases in the SF Bay Area</title>
    <!-- Vega-Lite -->
    <script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-lite@4"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-embed@6"></script>
  </head>
  <body>
    {{ content }}
    <script src="scripts/vl-chart.js"></script>
  </body>
</html>
